<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/_jquery.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="order">
    <nav class="top">
        <div class="top-bar">
        <span class="top-left">
            <span v-if="join()">
                <span >欢迎来到Tmall</span>
                 <span>
                     <a href="">{{use.use.name}}</a>
                     <a @click="logout" href="#" >退出</a>
                 </span>
            </span>
            <span v-else>
                <span >欢迎来到Tmall商城</span>
                <a href="login.html" id="login">请登录</a>
                <a href="regist.html">免费注册</a>
            </span>
        </span>
            <span class="pull-right">
               <a v-if="use!=null" href="myOrder">我的订单</a>
               <a href="/html/cart.html"><span class=" glyphicon glyphicon-shopping-cart redColor">
               </span>购物车&nbsp<strong id="cart-number">{{cartnum}}</strong>件</a>
                <a v-if="ADMIN" href="admin.html">网站后台</a>
              </span>
        </div>
    </nav>
    <section class="order-type">
        <div class="selected"><a href="#nowhere" order-status="all">所有订单</a></div>
        <div><a href="#nowhere" order-status="waitPay">待付款</a></div>
        <div><a href="#nowhere" order-status="waitDelivery">待发货</a></div>
        <div><a href="#nowhere" order-status="waitConfirm">待确认</a></div>
        <div><a href="#nowhere" order-status="waitComment">待评价</a></div>
    </section>
    <header class="search">
        <a href="../index.html" class="logo">
            <img src="../img/logo2.png">
        </a>
        <div class="search">
            <form action="search" >
                <input type="text" placeholder="搜索 Tmall商城 商品/品牌/店铺" name="keyword">
                <button class="search-button" type="submit">搜索</button>
            </form>
            <ul class="search-below">

            </ul>

        </div>
    </header>
    <main class="order-list">
        <table class="head-table">
            <thead>
            <th >宝贝</th>
            <th width="100px">单价</th>
            <th width="100px">数量</th>
            <th width="150px">实付款</th>
            <th width="120px">交易操作</th>
            </thead>
        </table>
        <!--    <c:forEach items="${orders}" var="o" varStatus="vs">-->
        <!--        <table class="line-table" order-status="${o.status}" oid="${o.id}">-->
        <!--            <tr class="item-head">-->
        <!--                <td colspan="2" class="time-and-order">-->
        <!--                    <b>${o.createDate}</b>-->
        <!--                    <span>订单号: ${o.orderCode}</span>-->
        <!--                </td>-->
        <!--                <td >-->
        <!--                    <span class="seller"><img src="img/tmall-small.png">${website_name}</span>-->
        <!--                </td>-->
        <!--                <td colspan="2">-->
        <!--                    <span class="wangwang"></span>-->
        <!--                </td>-->
        <!--                <td class="delete">-->
        <!--                    <c:if test="${o.status=='finish'|| o.status == 'waitPay'}">-->
        <!--                        <a href="#nowhere" class="delete-button" oid="${o.id}">-->
        <!--                            <span class="glyphicon glyphicon-trash"></span>-->
        <!--                        </a>-->
        <!--                    </c:if>-->
        <!--                </td>-->
        <!--            </tr>-->
        <!--            <c:forEach items="${o.orderItems}" var="oi" varStatus="vs2">-->
        <!--                <tr class="item-body">-->
        <!--                    <td width="100px">-->
        <!--                        <img src="${productImgDir}${oi.product.image.path}" class="cart-item-jpg">-->
        <!--                    </td>-->
        <!--                    <td class="item-name">-->
        <!--                        <a class="cart-item-title" href="product?id=${oi.product.id}">${oi.product.name}</a>-->
        <!--                        <div class="cart-item-title-bottom">-->
        <!--                            <img title="保障卡" src="img/baozhang.png">-->
        <!--                        </div>-->
        <!--                    </td>-->
        <!--                    <td width="100px" class="num-center">-->
        <!--                        <span class="cart-item-old-price">￥${oi.product.originalPrice}</span>-->
        <!--                        <span class="cart-item-now-price">￥${oi.product.nowPrice}</span>-->
        <!--                    </td>-->
        <!--                    <td width="100px" class="num-center border-left">-->
        <!--                        <span class="order-item-num">${oi.number}</span>-->
        <!--                    </td>-->
        <!--                    <c:if test="${vs2.count==1}">-->
        <!--                        <td class="price-td" width="150px" rowspan="${o.totalNumber}">-->
        <!--                            <span class="order-item-sum">￥${o.sum}</span>-->
        <!--                            <span class="freight">(含运费：￥0.00)</span>-->
        <!--                        </td>-->
        <!--                    </c:if>-->
        <!--                    <c:if test="${vs2.count==1 && o.status!='waitComment' }">-->
        <!--                        <td width="120px" rowspan="${o.totalNumber}">-->

        <!--                            <c:if test="${o.status=='waitConfirm' }">-->
        <!--                                <a href="confirmPay?oid=${o.id}" class="order-button blue">确认收货</a>-->
        <!--                            </c:if>-->
        <!--                            <c:if test="${o.status=='waitPay' }">-->
        <!--                                <a href="pay?oid=${o.id}" class="order-button blue">付款</a>-->
        <!--                            </c:if>-->

        <!--                            <c:if test="${o.status=='waitDeliver' }">-->
        <!--                                <a href="#nowhere" class="order-button white">待发货</a>-->
        <!--                                <a href="deliver?oid=${o.id}" class="order-button blue">自己发货</a>-->
        <!--                            </c:if>-->
        <!--                            <c:if test="${o.status=='finish' }">-->
        <!--                                <a href="#nowhere" class="order-button white">完成订单</a>-->
        <!--                            </c:if>-->
        <!--                        </td>-->
        <!--                    </c:if>-->


        <!--                    <c:if test="${o.status=='waitComment' && (empty oi.comment)}">-->
        <!--                        <td width="120px" >-->
        <!--                            <a href="comment?oiid=${oi.id}" class="order-button white">评价</a>-->
        <!--                        </td>-->
        <!--                    </c:if>-->
        <!--                </tr>-->
        <!--            </c:forEach>-->
        <!--        </table>-->
        <!--    </c:forEach>-->
        <div class="modal" tabindex="-1" role="dialog" id="confirmModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-title">删除宝贝</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <div class="confirm-content">确认要删除该宝贝吗？</div>
                    <div class="button-group">
                        <button class="yes" id="confirmDelete">确定</button>
                        <button class="no" id="cancelDelete">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="modal" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="login-modal">
                <div class="login-content">
                    <form method="post" action="loginIn" id="form">
                        <div class="login-frame">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="login-tip">密码登录</div>
                            <div class="login-input">
                    <span class="login-input-icon">
                                <span class=" glyphicon glyphicon-user"></span>
                            </span>
                                <input type="text" placeholder="手机/会员名/邮箱" name="name" id="name" autofocus>
                            </div>
                            <div class="login-input">
                    <span class="login-input-icon ">
                                <span class=" glyphicon glyphicon-lock"></span>
                            </span>
                                <input type="password" placeholder="密码" name="password" id="password">
                                <input type="hidden" name="refer" id="refer" value="/">
                            </div>
                            <div class="login-button">
                                <button type="submit" class="login-button">登 录</button>
                            </div>
                            <div class="login-bottom">
                                <a href="#nowhere">忘记登录密码</a>
                                <a class="" href="register">免费注册</a>
                            </div>

                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="footer-top clear">
    <div class="footer-content">
        <div class="footer-ensure">
            <a href="#nowhere1"></a>
            <a href="#nowhere2"></a>
            <a href="#nowhere3"></a>
            <a href="#nowhere4"></a>
        </div>

        <div class="footer-desc" id="footer-desc">
            <div class="desc-column">
                <span class="desc-column-title">购物指南</span>
                <a href="#nowhere">免费注册</a>
                <a href="#nowhere">开通支付宝</a>
                <a href="#nowhere">支付宝充值</a>
            </div>
            <div class="desc-column">
                <span class="desc-column-title">本站保障</span>
                <a href="#nowhere">发票保障</a>
                <a href="#nowhere">售后规则</a>
                <a href="#nowhere">缺货赔付</a>
            </div>
            <div class="desc-column">
                <span class="desc-column-title">支付方式</span>
                <a href="#nowhere">快捷支付</a>
                <a href="#nowhere">信用卡</a>
                <a href="#nowhere">蚂蚁花呗</a>
                <a href="#nowhere">货到付款</a>
            </div>
            <div class="desc-column">
                <span class="desc-column-title">商家服务</span>
                <a href="#nowhere">商家入驻</a>
                <a href="#nowhere">商家中心</a>
                <a href="#nowhere">本站智库</a>
                <a href="#nowhere">本站规则</a>
                <a href="#nowhere">物流服务</a>
                <a href="#nowhere">喵言喵语</a>
                <a href="#nowhere">运营服务</a>
            </div>
            <div class="desc-column">
                <span class="desc-column-title">手机版</span>
                <a href="#nowhere"><img src="../img/shouji.png"></a>
            </div>
        </div>
    </div>
</footer>

<footer class="footer-bottom">

    <div class="foot-image"></div>
    <div class="foot-content">
        <div class="copyright" id="copyright">
            <div class="white-link">
                <a href="#nowhere">关于本站</a>
                <a href="#nowhere">帮助中心</a>
                <a href="#nowhere">开放平台</a>
                <a href="#nowhere"> 诚聘英才</a>
                <a href="#nowhere">联系我们</a>
                <a href="#nowhere">网站合作</a>
                <a href="#nowhere">法律声明</a>
                <a href="#nowhere">知识产权</a>
                <a href="#nowhere">廉正举报 </a>
            </div>
            <div class="white-link">
                <a href="#nowhere"> 阿里巴巴集团</a><span class="slash">|</span>
                <a href="#nowhere"> 淘宝网</a><span class="slash">|</span>
                <a href="#nowhere">Tmall商城 </a><span class="slash">|</span>
                <a href="#nowhere"> 聚划算</a><span class="slash">|</span>
                <a href="#nowhere">全球速卖通</a><span class="slash">|</span>
                <a href="#nowhere">阿里巴巴国际交易市场</a><span class="slash">|</span>
                <a href="#nowhere">1688</a><span class="slash">|</span>
                <a href="#nowhere">阿里妈妈</a><span class="slash">|</span>
                <a href="#nowhere"> 阿里旅行·去啊 </a><span class="slash">|</span>
                <a href="#nowhere"> 阿里云计算 </a><span class="slash">|</span>
                <a href="#nowhere"> 友盟 </a><span class="slash">|</span>
                <a href="#nowhere"> 虾米 </a><span class="slash">|</span>
                <a href="#nowhere"> 天天动听 </a><span class="slash">|</span>
                <a href="#nowhere"> 来往 </a><span class="slash">|</span>
                <a href="#nowhere"> 钉钉 </a><span class="slash">|</span>
                <a href="#nowhere"> 支付宝 </a>
            </div>
            <div class="license">
                <span>增值电信业务经营许可证： <a href="#nowhere">浙B2-20110446</a></span>
                <span>网络文化经营许可证：<a href="#nowhere">浙网文[2015]0295-065号</a></span>
                <span><a href="#nowhere">12318举报 </a></span><br>
                <span>互联网药品信息服务资质证书编号：<a href="#nowhere">浙-（经营性）-2012-0005</a></span>
                <div class="copy-right-year">© 2003-2017 TMALL.COM 版权所有</div>

            </div>
        </div>
    </div>
</footer>



</body>
<script type="text/javascript" src="../js/order.js"></script>
</html>