<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品信息</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/info.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="index">
    <nav class="top">
        <div class="top-bar">
        <span class="top-left">
            <span v-if="joinin">
                <span>欢迎来到Tmall</span>
                 <span>
                     <a href="">{{use.use.name}}</a>
                     <a @click="logout" href="#">退出</a>
                 </span>
                 <span>
                     <a href="../html/info.html">个人中心</a>
                 </span>
                <span>
                     <a href="../html/info.html">商家管理</a>
                 </span>
            </span>
            <span v-else>
                <span>欢迎来到Tmall商城</span>
                <a href="../html/login.html" id="login">请登录</a>
                <a href="../html/regist.html">免费注册</a>
            </span>
        </span>
            <span class="pull-right">
               <a v-if="use!=null" href="html/myoder.html">我的订单</a>
                <a @click="shopcart()" href="html/cart.html" v-if="joinin">
                   <span class=" glyphicon glyphicon-shopping-cart redColor"></span>购物车&nbsp
                    <strong id="cart-number">{{use.use.cartNum}}</strong>件</a>
                 <a @click="shopcart()" href="html/cart.html" v-else>
                   <span class=" glyphicon glyphicon-shopping-cart redColor"></span>购物车0件</a>
                <a v-if="ADMIN" href="admin.html">网站后台</a>
              </span>
        </div>
    </nav>
    <header class="product">
        <a href=".." class="logo">
            <img src="../img/logo2.png">
        </a>
        <div class="search">
            <form action="search">
                <input type="text" placeholder=" 商品/品牌/店铺" name="keyword">
                <button class="search-button" type="submit">搜索</button>
            </form>
            <ul class="search-below">

            </ul>
        </div>
    </header>
    <section class="property">
        <div class="gallery">
            <div class="pic-border">
                <img v-if="Product==null">
                <img v-else :src="Product.imgaddress[0]" id="big-show">
            </div>
            <div class="pic-ls" id="pic-ls">

            </div>
            <div id="div4load" style="display:none;"></div>
        </div>
        <div class="detail">
            <div class="product-title" v-if="Product!=null">
                {{Product.subTitle}}
            </div>
            <div class="price">
                <div class="sales">
                    <img src="../img/gouwu.png">全站实物商品通用
                </div>
                <div class="top-line">
                    <span class="o-price left">价格</span>
                    <span class="o-price-num" v-if="Product!=null">￥{{Product.originalPrice}}</span>
                </div>
                <div class="middle-line">
                    <span class="s-price left"></span>
                    <span class="yen" v-if="Product!=null">￥{{Product.nowPrice}}</span><span class="s-price-num"></span>
                </div>
            </div>
            <div class="history">
                <span class="m-sales item" v-if="Product!=null">月销量{{Product.saleCount}} <em></em></span>
                <span class="c-num item" v-if="Product!=null">累计评价 {{Product.commentCount}}<em></em></span>
                <span class="t-score item" v-if="Product!=null">送积分{{Product.originalPrice*55}}<em></em></span>
            </div>
            <div class="product-num">
                <span class="buy-num left">数量</span>
                <input type="text" class="input" v-model="itemnum" id="buy-number">
                <span class="arrow">
                    <a class="increase-number" id="increase-number" href="#nowhere">
                    <span class="updown arrow-png">
                       <img @click="Buyup()" src="../img/increase.png">
                    </span>
                    </a>
                    <span class="updown-middle"> </span>
                    <a class="decrease-number" id="decrease-number" href="#nowhere">
                    <span class="updown arrow-png">
                        <img @click="BuyDown()" src="../img/decrease.png">
                    </span>
                    </a>
                </span>
                <span class="piece">件</span>
                <span class="inventory" id="inventory" v-if="Product!=null">库存{{Product.stock}}件</span>
            </div>
            <div class="buy">
                <button class="buy-button" id="buy-button" @click="Buy()">立即购买</button>
                <button class="car-button" id="cart-button" @click="addchart()"><span
                        class="glyphicon glyphicon-shopping-cart"></span>加入购物车
                </button>
            </div>
            <div class="service">
                <span class="left">服务承诺</span>
                <span>正品保证</span>
                <span>极速退款</span>
                <span>七天无理由退换</span>
            </div>
        </div>
    </section>
    <main class="product-content">
        <div class="product-bar">
            <div class="product-select selected" href="#nowhere" id="button-1">
                <a href="#nowhere">商品详情</a>
            </div>
            <div class="product-select" href="#nowhere" id="button-2">
                <a href="#nowhere">
                    累计评价
                    <span class="product-comment-number"></span>
                </a>
            </div>
        </div>
        <div class="clear" id="main-1">
            <div class="product-top">
                <div class="product-key-title">产品参数：</div>
                <ul class="product-key">

                </ul>
            </div>
            <div class="product-content-part">
                <img v-if="Product!=null" :src="Product.imgaddress[1]">
                <img v-if="Product!=null" :src="Product.imgaddress[2]">
                <img v-if="Product!=null" :src="Product.imgaddress[3]">
            </div>
        </div>
        <div class="clear" id="main-2" style="display: none;">
            <table class="comment">

            </table>
        </div>
    </main>
    <footer class="footer-top clear">
        <div class="footer-content">
            <div class="footer-ensure">
                <a href="#nowhere1"></a>
                <a href="#nowhere2"></a>
                <a href="#nowhere3"></a>
                <a href="#nowhere4"></a>
            </div>

            <div class="footer-desc" id="footer-desc">
                <div class="desc-column">
                    <span class="desc-column-title">购物指南</span>
                    <a href="#nowhere">免费注册</a>
                    <a href="#nowhere">开通支付宝</a>
                    <a href="#nowhere">支付宝充值</a>
                </div>
                <div class="desc-column">
                    <span class="desc-column-title">本站保障</span>
                    <a href="#nowhere">发票保障</a>
                    <a href="#nowhere">售后规则</a>
                    <a href="#nowhere">缺货赔付</a>
                </div>
                <div class="desc-column">
                    <span class="desc-column-title">支付方式</span>
                    <a href="#nowhere">快捷支付</a>
                    <a href="#nowhere">信用卡</a>
                    <a href="#nowhere">蚂蚁花呗</a>
                    <a href="#nowhere">货到付款</a>
                </div>
                <div class="desc-column">
                    <span class="desc-column-title">商家服务</span>
                    <a href="#nowhere">商家入驻</a>
                    <a href="#nowhere">商家中心</a>
                    <a href="#nowhere">本站智库</a>
                    <a href="#nowhere">本站规则</a>
                    <a href="#nowhere">物流服务</a>
                    <a href="#nowhere">喵言喵语</a>
                    <a href="#nowhere">运营服务</a>
                </div>
                <div class="desc-column">
                    <span class="desc-column-title">手机版</span>
                    <a href="#nowhere"><img src="../img/shouji.png"></a>
                </div>
            </div>
        </div>
    </footer>

    <footer class="footer-bottom">

        <div class="foot-image"></div>
        <div class="foot-content">
            <div class="copyright" id="copyright">
                <div class="white-link">
                    <a href="#nowhere">关于本站</a>
                    <a href="#nowhere">帮助中心</a>
                    <a href="#nowhere">开放平台</a>
                    <a href="#nowhere"> 诚聘英才</a>
                    <a href="#nowhere">联系我们</a>
                    <a href="#nowhere">网站合作</a>
                    <a href="#nowhere">法律声明</a>
                    <a href="#nowhere">知识产权</a>
                    <a href="#nowhere">廉正举报 </a>
                </div>
                <div class="white-link">
                    <a href="#nowhere"> 阿里巴巴集团</a><span class="slash">|</span>
                    <a href="#nowhere"> 淘宝网</a><span class="slash">|</span>
                    <a href="#nowhere">${website_name} </a><span class="slash">|</span>
                    <a href="#nowhere"> 聚划算</a><span class="slash">|</span>
                    <a href="#nowhere">全球速卖通</a><span class="slash">|</span>
                    <a href="#nowhere">阿里巴巴国际交易市场</a><span class="slash">|</span>
                    <a href="#nowhere">1688</a><span class="slash">|</span>
                    <a href="#nowhere">阿里妈妈</a><span class="slash">|</span>
                    <a href="#nowhere"> 阿里旅行·去啊 </a><span class="slash">|</span>
                    <a href="#nowhere"> 阿里云计算 </a><span class="slash">|</span>
                    <a href="#nowhere"> 友盟 </a><span class="slash">|</span>
                    <a href="#nowhere"> 虾米 </a><span class="slash">|</span>
                    <a href="#nowhere"> 天天动听 </a><span class="slash">|</span>
                    <a href="#nowhere"> 来往 </a><span class="slash">|</span>
                    <a href="#nowhere"> 钉钉 </a><span class="slash">|</span>
                    <a href="#nowhere"> 支付宝 </a>
                </div>
                <div class="license">
                    <span>增值电信业务经营许可证： <a href="#nowhere">浙B2-20110446</a></span>
                    <span>网络文化经营许可证：<a href="#nowhere">浙网文[2015]0295-065号</a></span>
                    <span><a href="#nowhere">12318举报 </a></span><br>
                    <span>互联网药品信息服务资质证书编号：<a href="#nowhere">浙-（经营性）-2012-0005</a></span>
                    <div class="copy-right-year">© 2003-2017 TMALL.COM 版权所有</div>

                </div>
            </div>
        </div>
    </footer>

</div>

</body>
<script type="text/javascript" src="../js/product.js"></script>
</html>